body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.titre{
    margin-left: 50px;
}

.containerHead .card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.containerHead .card .left{
   flex: 0 0 30%;
   padding: 20px;
   text-align: center;
}

.containerHead .card .right{
    height:300px;
    width: 400px;
    margin-top: 5px;
    background: linear-gradient(to right,  rgba(14,182,227,255), rgba(9,74,178,255));
    color: white;
    text-align: center;
    border-radius: 20px;
    width: 500px;
}

.containerHead .card .right h1{
    margin-top: 80px;
}

.containerHead .card .right button{
    margin-top: 20px;
    background-color: #fff;
    border: 1px solid #ffffff;
    border-radius: 8px;
    box-sizing: border-box;
    color: #0f1111;
    font-size: 15px;
    line-height: 29px;
    padding: 0 10px 0 11px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 150px;
    height: 40px;
}

.preference .gallery {
    display: grid;
    grid-template-columns: repeat(3, 30vw);
    grid-template-rows: repeat(2, 20vw);
    grid-gap: 15px;
}

.preference .gallery img {
    height: 200px;
    width: 350px;
    border-radius: 12px;
}

.containerpreference {
    display: inline-block;
    position: relative;
}
.containerpreference .text {
    z-index: 1;
    position: absolute;
    text-align: center;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 30%;
    color: white;
    width: 70%;
}

.historique .gallery {
    display: grid;
    grid-template-columns: repeat(4, 16vw);
    grid-gap: 15px;
}

.historique .gallery img {
    height: 200px;
    width: 200px;
}

.containerhistorique {
    display: inline-block;
    position: relative;
}

.containerhistorique .text {
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
    position: absolute;
    text-align: center;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 30%;
    color: white;
    width: 70%;
}

footer{
    text-align: center;
    margin-top: 50px;
    font-size: x-large;
}